@model ProductViewModel;
@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown4-container {
        display: block !important;
    }
</style>
<script>
    $(document).ready(function ($) {
        debugger;
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }

        $("#Status").prop('checked', true);
        $("#update").addClass("hidden");
        $("#EmployeeStatus").val("1");
        $(document).on("click", "#Save", function () {
            debugger;
            $("#Success").html("");
            $("#Error").html("");
            var Active = 1;
            var EmployeeNo = $("#Employee_No").val();
            if (EmployeeNo == null || EmployeeNo == "" || EmployeeNo == undefined) {
                $("#Error").html("Please Enter Employee Name");
                return false;
            }
            var Name = $("#Employee_Name").val();
            if (Name == null || Name == "" || Name == undefined) {
                $("#Error").html("Please Enter Employee Name");
                return false;
            }
            var E_Password = $("#password").val();
            if (E_Password == null || E_Password == "" || E_Password == undefined) {
                $("#Error").html("Please Enter Password");
                return false;
            }
            var E_Role = $("#ProductId").val();
            if (E_Role == null || E_Role == "" || E_Role == undefined) {
                $("#Error").html("Please Enter Employee Role");
                return false;
            }

            var des = $("#Description").val();
            if ($('#Status').is(':checked')) {
                Active = 1;
            }
            else {
                $("#Error").html("Please Check Active Check box");
            }
            var Email = $("#Employee_emailId").val();
            if (Email == null || Email == "" || Email == undefined) {
                $("#Error").html("Please Enter Email");
                return false;
            }

            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/UserManagement/SaveEmployee", // Controller/View
                    datatype: "json",
                    data: {
                        Emp_No: EmployeeNo,
                        E_Name: Name,
                        Emp_pass: E_Password,
                        Emp_role: E_Role,
                        Status: Active,
                        EmailId: Email,
                        Description: des,
                    },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        if (data == "Success") {
                            $("#Success").html("Employee Successfully Saved");
                            Bindrid1(1);
                            clear();
                        }
                        else {
                            $("#Error").html("Already Exits Employee");
                        }

                    },
                    error: function (Result) {

                    }

                });
        });

        $(document).on("click", "#update", function () {
            debugger;
            $("#Success").html("");
            $("#Error").html("");
            var LoginId = $("#LoginId").val();
            var Active = 1;
            var EmployeeNo = $("#Employee_No").val();
            if (EmployeeNo == null || EmployeeNo == "" || EmployeeNo == undefined) {
                $("#Error").html("Please Enter Employee Name");
                return false;
            }
            var Name = $("#Employee_Name").val();
            if (Name == null || Name == "" || Name == undefined) {
                $("#Error").html("Please Enter Employee Name");
                return false;
            }
            var E_Password = $("#password").val();
            if (E_Password == null || E_Password == "" || E_Password == undefined) {
                $("#Error").html("Please Enter Password");
                return false;
            }
            var E_Role = $("#ProductId").val();
            if (E_Role == null || E_Role == "" || E_Role == undefined) {
                $("#Error").html("Please Enter Employee Role");
                return false;
            }

            var des = $("#Description").val();
            if ($('#Status').is(':checked')) {
                Active = 1;
            }
            else {
                Active = 0;
            }
            var Email = $("#Employee_emailId").val();
            if (Email == null || Email == "" || Email == undefined) {
                $("#Error").html("Please Enter Email");
                return false;
            }
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/UserManagement/UpdateEmployee", // Controller/View
                    datatype: "json",
                    data: {
                        Emp_No: EmployeeNo,
                        E_Name: Name,
                        Emp_pass: E_Password,
                        Emp_role: E_Role,
                        Status: Active,
                        Description: des,
                        EmailId: Email,
                        LoginId: LoginId,
                    },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        if (data == "Success") {
                            $("#Success").html("Employee Successfully Saved");
                            Bindrid1(1);
                            clear();
                        }
                        else {
                            $("#Error").html("Already Exits Employee");
                        }

                    },
                    error: function (Result) {

                    }

                });
        });

        function clear() {
            $("#update").addClass("hidden");
            $("#Save").removeClass("hidden");
            $("#LoginId").val("");
            $("#Employee_Name").val("");
            $("#EmployeeStatus").val("1");
            $("#Description").val("");
            $("#Employee_No").val("");
            $("#password").val("");
            $("#ProductId").val("");
            $("#Employee_emailId").val("");
            $("#InActive").removeClass("hidden");
            $("#Active").addClass("hidden");
            $("#EmployeeStatus").val("1");
        }

        Bindrid(1);
        $(document).on("click", "#Searchlist", function () {
            debugger;
            var searchres = $("#search").val();
            var status = $("#EmployeeStatus").val();
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/UserManagement/SearchEmployee", // Controller/View
                    datatype: "json",
                    data: {
                        search: searchres,
                        status: status,
                    },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        $('#tblAuthgrid').empty();
                        var tr;
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                var tr;
                                tr = $('<tr/>');
                                tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].loginId + "</td>");
                                tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].employeeNo + "</td>");
                                tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].employeeName + "</td>");
                                tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].emailId + "</td>");
                                tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                                tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                                $('#tblAuthgrid').append(tr);
                            }
                        }

                    },
                    error: function (Result) {

                    }

                });
        });

    });
    function display(Login) {
        $("#Success").html("");
        $("#Error").html("");
        $("#update").removeClass("hidden");
        $("#Save").addClass("hidden");
        $.ajax(
            {
                type: "GET", //HTTP POST Method
                url: "/UserManagement/EditEmployee", // Controller/View
                datatype: "json",
                data: {
                    LoginId: Login,
                },
                headers: {
                    "Content-Type": JSON,
                    'Authorization': localStorage.getItem("AuthoToken"),
                },
                success: function (data) {
                    if (data == "Auth Fail") {
                        $("#Error").html("Authentication Failed,Your Session Failed");
                        return false;
                    }
                    debugger;
                    $("#LoginId").val(data["0"].loginId);
                    $("#Employee_Name").val(data["0"].employeeName);
                    $("#Description").val(data["0"].description);
                    $("#Employee_No").val(data["0"].employeeNo);
                    $("#password").val(data["0"].password);
                    $("#ProductId").val(data["0"].roleId);
                    $("#Employee_emailId").val(data["0"].emailId);
                    var status = data["0"].status;
                    if (status == "1") {
                        $("#Status").prop("checked", true);
                    }
                    else {
                        $("#Status").prop("checked", false);
                    }

                },
                error: function (Result) {

                }

            });
    }
    function Bindrid(status) {
        if (status == "1") {
            $("#InActive").removeClass("hidden");
            $("#Active").addClass("hidden");
            $("#EmployeeStatus").val("1");
        }
        else {
            $("#InActive").addClass("hidden");
            $("#Active").removeClass("hidden");
            $("#EmployeeStatus").val("0");
        }
        $.ajax(
            {
                type: "GET", //HTTP POST Method
                url: "/UserManagement/BindEmployee", // Controller/View
                datatype: "json",
                data: { status: status },
                headers: {
                    "Content-Type": JSON,
                    'Authorization': localStorage.getItem("AuthoToken"),
                },
                success: function (data) {
                    debugger;
                    if (data == "Auth Fail") {
                        $("#Error").html("Authentication Failed,Your Session Failed");
                        return false;
                    }
                    $('#tblAuthgrid').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var tr;
                            tr = $('<tr/>');
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].loginId + "</td>");
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].employeeNo + "</td>");
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].employeeName + "</td>");
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].emailId + "</td>");
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                            tr.append("<td> <span  OnClick='deletefun(" + data[i].loginId + ");'  style='cursor: pointer;'>  " + (data[i].status == "0" ? "<img src='http://40.115.111.12:5000/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                            $('#tblAuthgrid').append(tr);
                        }

                        $('#example').DataTable({
                            paging: true,
                            scrollX: true,
                            lengthChange: true,
                            searching: true,
                            ordering: false
                        });

                    }

                },
                error: function (Result) {

                }

            });
    }

    function Bindrid1(status) {
        if (status == "1") {
            $("#InActive").removeClass("hidden");
            $("#Active").addClass("hidden");
            $("#EmployeeStatus").val("1");
        }
        else {
            $("#InActive").addClass("hidden");
            $("#Active").removeClass("hidden");
            $("#EmployeeStatus").val("0");
        }
        $.ajax(
            {
                type: "GET", //HTTP POST Method
                url: "/UserManagement/BindEmployee", // Controller/View
                datatype: "json",
                data: { status: status },
                headers: {
                    "Content-Type": JSON,
                    'Authorization': localStorage.getItem("AuthoToken"),
                },
                success: function (data) {
                    debugger;
                    if (data == "Auth Fail") {
                        $("#Error").html("Authentication Failed,Your Session Failed");
                        return false;
                    }
                    $('#tblAuthgrid').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var tr;
                            tr = $('<tr/>');
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].loginId + "</td>");
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].employeeNo + "</td>");
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].employeeName + "</td>");
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].emailId + "</td>");
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].description + "</td>");
                            tr.append("<td OnClick='display(" + data[i].loginId + ");'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                            tr.append("<td> <span  OnClick='deletefun(" + data[i].loginId + ");'  style='cursor: pointer;'>  " + (data[i].status == "0" ? "<img src='http://40.115.111.12:5000/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                            $('#tblAuthgrid').append(tr);
                        }

                    }

                },
                error: function (Result) {

                }

            });
    }
    function deletefun(loginid) {
        $.ajax(
            {
                type: "GET", //HTTP POST Method
                url: "/UserManagement/loginid", // Controller/View
                datatype: "json",
                data: { loginid: loginid },
                headers: {
                    "Content-Type": JSON,
                    'Authorization': localStorage.getItem("AuthoToken"),
                },
                success: function (data) {
                    debugger;
                    if (data == "Auth Fail") {
                        $("#Error").html("Authentication Failed");
                        return false;
                    }

                    Bindrid1(1);
                },
                error: function (Result) {

                }

            });
    }
</script>

<h3 style="        color: #ba9122; padding: 14px; margin-left: 42px;">User</h3>
<div class="container" style=" background-color: white;  padding-bottom: unset;">
    <div class=" container-scroller">

        <div class="container-fluid page-body-wrapper">

            <div class="main-panel">
                <div class="content-wrapper" style="padding: 1.5rem .8rem .5rem 2rem;">

                    <form method="post" enctype="multipart/form-data">
                        <div class="form">
                            <div class="row" style="padding-bottom: 20px;">
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                    <label><span style="color: red;">* </span>User Id</label><br />
                                    @*<select name="Suite" id="SuiteName" class="form-control">
                                            <option value="">Select Suite</option>
                                        <option></option>
                                        </select>*@
                                    <input type="text" name="Employee" class="form-control" id="Employee_No" />
                                </div>

                            </div>
                            <div class="row" style="padding-bottom: 20px;">

                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                    <label><span style="color: red;">* </span>User Name</label><br />
                                    @*<select name="Suite" id="SuiteName" class="form-control">
                                            <option value="">Select Suite</option>
                                        <option></option>
                                        </select>*@
                                    <input type="text" name="EmployeeName" class="form-control" id="Employee_Name" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Password</label><br />
                                    @*<select name="Suite" id="SuiteName" class="form-control">
                                            <option value="">Select Suite</option>
                                        <option></option>
                                        </select>*@
                                    <input type="text" name="Password" class="form-control" id="password" />
                                </div>

                            </div>
                            <div class="row" style="padding-bottom: 20px;">
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Role</label><br />
                                    @*<select name="Suite" id="SuiteName" class="form-control">
                                            <option value="">Select Suite</option>
                                        <option></option>
                                        </select>*@
                                    <select asp-for="ProductId"
                                            class="form-control"
                                            asp-items="@(new SelectList(Model.Listofproducts,"Value", "Text"))">
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                    <label><span style="color: red;">* </span>Email Id</label><br />
                                    @*<select name="Suite" id="SuiteName" class="form-control">
                                            <option value="">Select Suite</option>
                                        <option></option>
                                        </select>*@
                                    <input type="text" name="EmailId" class="form-control" id="Employee_emailId" />
                                </div>

                            </div>
                            <div class="row" style="padding-top:1em;">

                                <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                    <label>Description</label> <br />
                                    <input type="text" id="Description" class="form-control" maxlength="50" />
                                    @*<textarea type="text" cols="40" rows="3" id="Description" style="resize: none;" class="txt-input form-control" maxlength="50"></textarea>*@
                                </div>

                            </div>

                        </div>


                    </form>
                </div>


            </div>
        </div>


    </div>
</div>
<div class="container" style="        background-color: #eeeeee;
        padding: 10px;
        padding-bottom: unset;
        margin-top: 15px">
    <div class="row" style="        padding: 10px
">
        <div class="col-lg-6 col-md-6 col-xs-6  col-sm-6" style="text-align:left">
            <input type="checkbox" id="Status"> Set As active
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label style="text-align:center;color:red" id="Error"></label>
                <label style="text-align:center;color:green" id="Success"></label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6  col-sm-6" style="text-align:right">
            <input type="button" class="text-center center-block" style="        color: white;background-color: #c9a642" id="Save" value="SAVE">
            <input type="button" class="text-center center-block hidden" style="       color: white;background-color: #c9a642" id="update" value="Update">
            <input type="button" class="text-center center-block clear" style="   color: black;" id="Clear" value="Clear">
            <input type="hidden" id="LoginId" />
            <input type="hidden" id="EmployeeStatus" />
        </div>

    </div>
</div>
<div class="container" style="        background-color: white;

        padding-bottom: unset;
        margin-top: 15px">

    <div class="container" style="     background-color: white;    padding: 44px; padding-top: 15px; padding-bottom: 100px;">
        <div class="content">
            <div class=" container-scroller">


                @*<div class="col-lg-12 form-inline"
                                         style="">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-8 " style="padding-right:0px;">
                                            <div style=" position: absolute;">
                                                <div>
                                                    <input type="text" id="search" name="search" class="form-control" />
                                                    <button id="Searchlist" class="button" style=" margin: unset; background-color: #c9a642; margin-left: 10px" value="Search">Search</button>
                                                </div>

                                            </div>
                                            <div style=" padding-left: 60%;">
                                                <button id="InActive" OnClick='Bindrid("0")' class="button" style="margin: unset; background-color: #c9a642;  margin-left: 10px;" value="In Active">
                                                    Inactive
                                                </button>
                                                <button id="Active" OnClick='Bindrid("1")' class="button hidden" style=" margin: unset; background-color: #c9a642; margin-left: 10px" value="Active">
                                                    Active
                                                </button>
                                            </div>
                                            <div class="form-group" style="        padding-left: 91%;
                    margin-top: -5%;">


                                                <button type="button" id="excel" class="btn  btn-sm">
                                                    <img src="~/ExportExcel.png"
                                                         style="cursor: pointer;" />
                                                </button>
                                            </div>
                                        </div>
                                    </div>*@
                <div class="form-group" id="Excelpos" >


                    <button type="button" class="btn  btn-sm" id="excel">
                        <img src="~/ExportExcel.png"
                             style="cursor: pointer;" />
                    </button>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-sm-12 mat-elevation-z8"
                         style="box-shadow: unset;padding: 0px ;" #TABLE>
                        <table class="table" id="example" style="width: 100%;" border="1">
                            <thead>
                                <tr>
                                    <td style="width:120px">
                                        User Id
                                    </td>
                                    <td style="width:120px">
                                        User No
                                    </td>
                                    <td style="width:50px">
                                        User Name
                                    </td>
                                    <td style="width:20px">
                                        Email Id
                                    </td>
                                    <td style="        width: 300px">
                                        Description
                                    </td>
                                    <td style="width:50px">
                                        Status
                                    </td>
                                    <td>
                                        Delete
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="tblAuthgrid"></tbody>

                        </table>
                    </div>

                </div>
            </div>
            <!-- partial:../../partials/_footer.html -->

        </div>


    </div>

</div>
<!-- partial:../../partials/_footer.html -->
    </div>


</div>
