
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/Login.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>

        /* BASIC */
         html {
            background-color: #56baed;
        }

        body {
            font-family: "Poppins", sans-serif;
            height: 100vh;
        }

        a {
            color: #92badd;
            display: inline-block;
            text-decoration: none;
            font-weight: 400;
        }

        h4 {
            font-family: ba
        }

        h2 {
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
            margin: 40px 8px 10px 8px;
            color: #cccccc;
        }



        /* STRUCTURE */

        .wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            min-height: 100%;
            padding: 20px;
        }

        #formContent {
            -webkit-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
            background: #fff;
            padding: 30px;
            width: 90%;
            max-width: 450px;
            position: relative;
            padding: 0px;
            -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
            box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
            text-align: center;
        }

        #formFooter {
            background-color: #f6f6f6;
            border-top: 1px solid #dce8f1;
            padding: 25px;
            text-align: center;
            -webkit-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
        }



        /* TABS */

        h2.inactive {
            color: #cccccc;
        }

        h2.active {
            color: #0d0d0d;
            border-bottom: 2px solid #5fbae9;
        }



        /* FORM TYPOGRAPHY*/

        input[type=button], input[type=submit], input[type=reset] {
            background-color: #56baed;
            border: none;
            color: white;
            padding: 10px 48px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            font-size: 13px;
            -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
            box-shadow: 0 10px 20px 0 #3a3434;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            margin: 5px 10px 20px 10px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
                background-color: #39ace7;
            }

            input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
                -moz-transform: scale(0.95);
                -webkit-transform: scale(0.95);
                -o-transform: scale(0.95);
                -ms-transform: scale(0.95);
                transform: scale(0.95);
            }
        /*
        input[type=text], input[type=password] {
            background-color: #f6f6f6;
            border: none;
            color: #0d0d0d;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 5px;
            width: 85%;
            border: 2px solid #f6f6f6;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
        }*/

        input[type=text]:focus, input[type=password]:focus {
            background-color: #fff;
            border-bottom: 2px solid #5fbae9;
        }

        input[type=text]:placeholder, input[type=password]:placeholder {
            color: #cccccc;
        }



        /* ANIMATIONS */

        /* Simple CSS3 Fade-in-down Animation */
        .fadeInDown {
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

      

        .fadeIn {
            opacity: 0;
            -webkit-animation: fadeIn ease-in 1;
            -moz-animation: fadeIn ease-in 1;
            animation: fadeIn ease-in 1;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
            animation-duration: 1s;
        }

            .fadeIn.first {
                -webkit-animation-delay: 0.4s;
                -moz-animation-delay: 0.4s;
                animation-delay: 0.4s;
            }

            .fadeIn.second {
                -webkit-animation-delay: 0.6s;
                -moz-animation-delay: 0.6s;
                animation-delay: 0.6s;
            }

            .fadeIn.third {
                -webkit-animation-delay: 0.8s;
                -moz-animation-delay: 0.8s;
                animation-delay: 0.8s;
            }

            .fadeIn.fourth {
                -webkit-animation-delay: 1s;
                -moz-animation-delay: 1s;
                animation-delay: 1s;
            }

        /* Simple CSS3 Fade-in Animation */
        .underlineHover:after {
            display: block;
            left: 0;
            bottom: -10px;
            width: 0;
            height: 2px;
            background-color: #56baed;
            content: "";
            transition: width 0.2s;
        }

        .underlineHover:hover {
            color: #0d0d0d;
        }

            .underlineHover:hover:after {
                width: 100%;
            }



        /* OTHERS */

        *:focus {
            outline: none;
        }

        #icon {
            width: 60%;
        }
    </style>

    <script>
        $(document).ready(function () {
            debugger;

            $(document).on("click", "#Loginsub", function () {
                debugger;
                $("#Error").html("");
                var LoginName = $("#login").val();
                var Password = $("#password").val();
                if (LoginName == "" || LoginName == null || LoginName == "undefined" || LoginName == undefined) {
                    $("#Error").html("Please Enter User Name");
                    return false;
                }
                if (Password == "" || Password == null || Password == "undefined" || Password == undefined) {
                    $("#Error").html("Please Enter Password");
                    return false;
                }
                var randomVal = Math.random().toString(36).slice(2);
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/Home/loginSubmit", // Controller/View
                        datatype: "json",
                        data: { uName: LoginName, pass: Password },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': randomVal
                        },
                        success: function (data) {
                            debugger;
                            var result = data;
                            var result = data.length;
                            sessionStorage.setItem("Role", data);
                            if (result.length == 0) {
                                $("#Error").html("Please Enter Valid UserName and Password")
                                return false;
                            }
                            else {
                                if (data == "Auth Fail") {
                                    $("#Error").html("Authentication Failed");
                                    return false;
                                }
                                localStorage.setItem("AuthoToken", randomVal);
                                window.location.href = "/Home/MenuExample";
                                sessionStorage.setItem("Screen", data["0"].screenName);
                                sessionStorage.setItem("RoleName", data["0"].roleName);
                            }
                            @*sessionStorage.setItem("Role", data);
                            if (data == "Fail") {
                                $("#Error").html("Please Enter Valid UserName and Password");
                                return false;
                            }
                            else if (data == "Admin") {
                                sessionStorage.setItem("Role", data);
                                      var datalist =  '@TempData["Role"]';
            if (datalist != "Admin") {
            $(".Admin").addClass("hidden");
        }
        else {
            $(".Admin").removeClass("hidden");
        }
                                window.location.href = "/Home/MenuExample";
                            }
                            else {
                                debugger

                                window.location.href = "/Home/Dbetl";
                            }
                            var SuiteName = $("#SName").val("");

                            debugger; BindGrid();*@
                        },
                        error: function (Result) {
                        }

                    });
            });

            $("#ForgetPass").click(function () {
                debugger;
                var Email = $("#EmailId").val();
                if (Email == "" || EmailId == null || EmailId == undefined) {
                    $("FError").val("Please Enter Email Id");
                    return false;
                }
                      $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                              url: "/Home/Forgotpassword", // Controller/View
                        datatype: "json",
                              data: { Emailid: Email },
                        success: function (data) {
                            var result = data;
                            if (data == "Valid Email") {
                                $("#FError").html("Please Enter Valid Email Id");
                                return false;
                            }
                            else if (data == "Fail") {
                                $("#FError").html("Network Issue");
                                return false;
                            }
                            else if (data == "Success") {
                                $("#Userdetails").removeClass("hidden");
                                $("#ForgetPassword").addClass("hidden");
                                $("#Success").html("Mail Send Successfully, Please Check Your Mail");
                            }
                            debugger;
                        },
                        error: function (Result) {
                        }

                    });
                
            });
            $("#Forget").click(function () {
                $("#Userdetails").addClass("hidden");
                $("#ForgetPassword").removeClass("hidden");
            });
            $("#Login").click(function () {
                $("#Userdetails").removeClass("hidden");
                $("#ForgetPassword").addClass("hidden");
            });
            $("#ForgetPassword").addClass("hidden");
            $(".toggle-confirm-password").click(function () {
                debugger;
                $("#fa-eye").toggleClass("fa-eye fa-eye-slash");
                var input = $("#password");
                var input1 = $("#password").attr("type");
                //var input = $($(this).attr("toggle"));
                if (input.attr("type") != "password") {
                    input.attr("type", "password");
                } else {
                    input.attr("type", "text");
                }
            });
        });

    </script>
</head>
<body>

    <!------ Include the above in your HEAD tag ---------->
    <div class="wrapper fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" id="LoginLogo">
                    @*<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" id="LoginLogo"  style="        padding: 8rem 11rem 15rem 8rem !important;background-color: #6d6161">*@
                    <img src="~/login logo-01.png" style="width:100%" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="Userdetails">
                    <div class="col-lg-12  col-md-12 col-xs-12 col-sm-12">
                        <h3 style="        text-align: center;
        color: #c9a642
">
                            Welcome
                        </h3>
                        <h4 style="  text-align:center; ">login to your account</h4>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <img src="~/FontAwsome (user-tie).png" style="width:15px" />
                        </span>
                        <input type="text" id="login" class="form-control" name="login" placeholder="Username">
                        <span class="input-group-addon" style="background-color:unset;border:unset;"></span>
                    </div>
                    <div class="input-group" style="margin-top:25px">
                        <span class="input-group-addon">
                            <img src="~/Icon awesome-lock.png" />
                        </span>
                        <input type="password" id="password" name="login" class="form-control" style="width:304px" placeholder="Password">


                        <span toggle="#password-field" class="toggle-confirm-password input-group-addon" style="background-color:unset;border:unset;padding:unset">

                            <i class="fa fa-fw fa-eye field-icon " style="        color: #c9a642"></i>
                        </span>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" style="margin-top:10px;cursor:pointer">
                        <a style="        color: #c9a642" id="Forget">Forgot Password?</a>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 center-block" style="text-align:center">
                        <input type="button" class="text-center center-block" style="margin-top:20px;        color: white;
        background-color: #c9a642
" id="Loginsub" value="Log In">
                    </div>

                    <label style=" text-align: center; padding-left: 25px;color:red" id="Error"></label>
                    <label style=" text-align: center; padding-left: 25px;color:green" id="Success"></label>

                    <small style="position: absolute;bottom: 4%;">Current Version UI -  1.0 ; Python Version - 3.7.9 ; </small>
                    <small style="position:absolute;bottom:0px;">PIP Version - 9.0.1 ; Robot Version - 3.2.2 ; Mysql Version - 8.0 </small>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="ForgetPassword">
                    <div class="col-lg-12  col-md-12 col-xs-12 col-sm-12">
                        <h3 style="        text-align: center; color: #c9a642">
                            Welcome
                        </h3>
                        <h4 style="  text-align:center; ">Forgot Password</h4>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <img src="~/FontAwsome (user-tie).png" />
                        </span>
                        <input type="text" id="EmailId" class="form-control" name="EmailId" placeholder="Email Id">
                        <span class="input-group-addon" style="background-color:unset;border:unset;"></span>
                    </div>
                  
                    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" style="margin-top:10px;cursor:pointer">
                        <a style="        color: #c9a642" id="Login">Login?</a>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 center-block" style="text-align:center">
                        <input type="button" class="text-center center-block" style="margin-top:20px;color: white; background-color: #c9a642" id="ForgetPass" value="Submit">
                    </div>

                    <label style=" text-align: center; padding-left: 25px;color:red" id="FError"></label>
                </div>
            </div>
        </div>
    </div>


    @*<div class="wrapper fadeInDown">
            <div id="formContent">

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 3rem 3rem 1rem 3rem !important; background-color: #433d3d">
                            <img src="~/login logo-01.png" />

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 3rem 3rem 1rem 3rem !important; background-color: #433d3d">
                            <input type="text" id="login" name="login" placeholder="Username">
                            <input type="password" id="password" name="login" placeholder="password">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-confirm-password"></span>
                            <input type="button" id="Loginsub" value="Log In">
                            <label style=" text-align: center; padding-left: 25px;color:red" id="Error"></label>
                        </div>
                    </div>
            </div>
        </div>*@
</body>
</html>

