
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<script>
    $(document).ready(function () {
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
         report();
        function report() {
            debugger;
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Home/Latestgrafana", // Controller/View
                    datatype: "json",
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        var d = new Date();

                        var n = d.getMonth() +1;

                          var  y = d.getFullYear();
                        var dat = d.getDate() + 1;

                        var dateObject = Date.parse(''+y+'-'+n+'-'+dat+''); //Date object
                        $("#Latest").empty();
                        $("#Latest").append('<iframe src="@ViewBag.Graphana/d/ow8mViEZk12/robotlatest?orgId=1&var-application=' + data + '&from=now-2d&to=' + dateObject+'"  style="width: 100%;height: 87%;" frameborder="0"></iframe>');
                    },
                    error: function (Result) {

                    }

                });
        };
    });
</script>
<body>

            <!-- Sidebar -->
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->


                <div class="container-fluid" style="  padding: unset;">
                    <div class=" container-scroller">

                        <div class="container-fluid page-body-wrapper" style="padding:unset">

                            <div class="main-panel">
                                <div class="content-wrapper" style="padding: unset;">
                                    <form method="post" enctype="multipart/form-data" class="center-block" style="text-align:center">
                                       
                                        <div id="Latest"></div>
                                      
                                    </form>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
                <!-- partial:../../partials/_footer.html -->

            </div>
        </div>

   
    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
