@model ProductViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<body>
    <style>
        .dropdown1-container {
            display: block !important;
        }

        .dropdown3-container {
            display: block !important;
        }
    </style>
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */

        $(document).ready(function ($) {
            debugger;
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
            var dropdown = document.getElementsByClassName("dropdown-btn1");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }

            $(document).on("click", "#WebExecute", function () {
                $("#WebExecute").attr("disabled", true);
                debugger;
                var name = "";
                var Tescasefile1 = "";
                var testcasename1 = "";
                //var ResourceName = $("#ResourceFile").val();
                //for (var i = 0; i < ResourceName.length; i++) {
                //    if (name == "") {
                //        name = ResourceName[i];
                //    }
                //    else {
                //        name += "," + ResourceName[i];
                //    }
                //}
                //if (ResourceName == null || ResourceName == "") {
                //    $("#Error").html("Please Select Resource File");
                //    return false;
                //}
                var tag = $("#tagid").val();
                if (tag == null || tag == "") {
                    alert("Please Enter Tag");
                    return false;
                }
                var inValid = /\s/;
                if ((inValid.test(tag))) {

                    $("#Error").html('Tag should not contain whitespaces');
                    return false;
                }
                var Tescasefile = $('#TestCaseFileList').val();
                for (var i = 0; i < Tescasefile.length; i++) {
                    if (Tescasefile1 == "") {
                        Tescasefile1 = Tescasefile[i];
                    }
                    else {
                        Tescasefile1 += "," + Tescasefile[i];
                    }
                }
                //if (Tescasefile == null || Tescasefile == "") {
                //    $("#Error").html("Please Select Test Case Files");
                //    return false;
                //}

                var releaseno = $('#ReleaseId').val();
                if (releaseno == null || releaseno == "") {
                    $("#Error").html("Please Select Release No");
                    return false;
                }
                var testcasename = $('#selectrule').val();
                for (var i = 0; i < testcasename.length; i++) {
                    if (testcasename1 == "") {
                        testcasename1 = testcasename[i];
                    }
                    else {
                        testcasename1 += "," + testcasename[i];
                    }
                }
                //if (testcasename1 == null || testcasename1 == "") {
                //    $("#Error").html("Please Select Test Cases");
                //    return false;
                //}
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/Web/WebExecute", // Controller/View
                        datatype: "json",
                        data: {
                            //   ResourceName: name,
                            tagno: tag,
                            testcasefile: Tescasefile1,
                            testcasename: testcasename1,
                            releaseno: releaseno,
                        },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            debugger;
                            if (data == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                return false;
                            }
                            debugger;
                            $("#Multisuite").val('');
                            $('#TestsuidId').val('');
                            $('#ReleaseId').val('');
                            $('#selectrule').val('');
                            $('#tagid').val('');
                            $("progress").hide();
                            var statsus = "Passed  " + data["0"].passed + ",Failed  " + data["0"].failed + ",Total Tests " + data["0"].total_test;
                            // var tes = "~/" + SuiteName + "/" + SuiteName + "" + Version + ".html";
                            alert("Test Cases Execute Successfully");
                            $("#Success").html(statsus);
                        },
                        xhr: function () {
                            var fileXhr = $.ajaxSettings.xhr();
                            if (fileXhr.upload) {
                                $("progress").show();
                                fileXhr.upload.addEventListener("progress", function (e) {
                                    if (e.lengthComputable) {
                                        $("#fileProgress").attr({
                                            value: e.loaded,
                                            max: e.total
                                        });
                                    }
                                }, false);
                            }
                            return fileXhr;
                        },
                        error: function (Result) {
                            debugger;
                        }

                    });

            });

            var option;
            option = $('<option/>');
            option.append("<option value=''>Select Test Approach</option>");

            $('#selectrule').append(option);
            $("#technology").val('');
            $(document).on("change", "#TestCaseFileList", function () {

                var SuiteName = $("#TestCaseFileList").val();
                var name = SuiteName[SuiteName.length - 1];
                debugger;
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/Web/testapproachcasename", // Controller/View
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: {
                            TestcaseId: name,
                        },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            debugger;
                            if (data == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                return false;
                            }
                            var option;
                            for (var i = 0; i < data.length; i++) {
                                $('#selectrule').append("<option value=" + data[i].webTestcasesid + ">" + data[i].webtestcase + "</option>");

                            }
                            $("#selectrule").trigger("chosen:updated");
                            $('.chosen').chosen("destroy").chosen();
                        },
                        error: function (Result) {
                            swal("Error!", "Error.", "error");
                        }

                    });
            });



        });
        $(document).ready(function () {
            debugger;
            $(".chosen").chosen();

        });


    </script>
    <div>

        <h3 style="        color: #ba9122; padding: 14px; margin-left: 42px;">Execution</h3>
        <div class="container" style=" background-color: white;  padding: 10px; padding-bottom: 100px;">
            <div class="content">
                <div class=" container-scroller">
                    <form method="post" enctype="multipart/form-data" action="/Web/Web">
                        @*<div class="row">
                          
                            <div class=" col-lg-3">
                                <label><span style="color: red;">*</span>TestCase File</label><br />
                                <select asp-for="TestCaseFileList"
                                        class="form-control chosen"
                                        asp-items="@(new SelectList(Model.TestCaseFileList,"Value", "Text"))" multiple="true">
                                </select>

                            </div>
                            <div class=" col-lg-3">
                                <label><span style="color: red;">*</span>TestCase Case Name</label><br />
                                <select class="form-control chosen" name="Rules" id="selectrule" multiple="true">
                                </select>

                            </div>
                            <div class="col-lg-3">
                                <label><span style="color: red;">*</span>Release No</label><br />
                                <select asp-for="ReleaseId"
                                        class="form-control"
                                        asp-items="@(new SelectList(Model.ReleaseList,"Value", "Text"))">
                                </select>
                            </div>
                            <div class=" col-lg-3" style="padding-top:20px">
                                <label><span style="color: red;">*</span>Tag</label><br />
                                <input type="text" name="tag" id="tagid" class="form-control" />
                            </div>
                        </div>*@

                        <div class="panel11" id="empheight" style="padding-bottom:20px;">
                            <div class="row">

                                <div class=" col-lg-3">
                                    <label><span style="color: red;">*</span>Technology</label><br />
                                    <select id="technology" class="form-control" required>
                                        <option value="" disabled>Select Technology</option>
                                        <option value="API">API</option>
                                        <option value="Web">Web</option>
                                        <option value="File">File</option>
                                        <option value="Desktop">Desktop</option>
                                    </select>

                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-3">
                                    <label><span style="color: red;">*</span>Web File</label><br />
                                    <input type="file" name="files" id="Webfiles" class="button" required style=" box-shadow: unset; background: unset; background-color: unset; color: unset;padding-left:15px" />
                                </div>
                                <div class="col-lg-3 col-xs-12" style="        padding-top: 42px;">
                                    <button type="submit" class="button text-center center-block" style="        color: white;background-color: #c9a642" >Upload </button>
                                </div>

                            </div>

                        </div>

                        <div class="row">
                            @*<div class="col-md-12" style="margin-top:25px;right:0px;text-align:right">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <label style="text-align:center;color:red" id="Error"></label>
                                    <label style="text-align:center;color:green" id="Success"></label>
                                </div>
                                <progress id="fileProgress" style="display: none"></progress>
                              
                                <button type="button" class="button" style="color: white;background-color: #c9a642;" id="WebExecute">Execute </button>
                            </div>*@
                            @*<div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <a href="~/report.html">open</a>
                                    </div>
                                </div>*@
                        </div>
                    </form>
                    @*<div class="row" style="margin-top:25px">
                            <div class="col-sm-12 mat-elevation-z8"
                                 style="box-shadow: unset;padding: 0px ;" #TABLE>
                                <table style="width: 100%;" border="1">
                                    <thead style=" background-color: gray; color: white;">
                                        <tr>


                                            <td>
                                                Report
                                            </td>
                                            <td>
                                                Status
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody id="tblAuthgrid"></tbody>

                                </table>

                            </div>

                        </div>*@
                </div>
                <!-- partial:../../partials/_footer.html -->

            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    </div>
</body>
</html>
