
@model ProductViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<body>

    <style>
        .dropdown1-container {
            display: block !important;
        }
    </style>
    <script>



        $(document).ready(function () {
            debugger;
            $("#Status").prop("checked", true);
            $(document).on("click", "#SuiteSave", function () {
                $("#Error").html('');
                $("#Success").html('');
                var Active = 1;
                // var TSuiteName = $("#TestsuidId").val();

                var TSuiteName = "";
                var TSuiteName1 = $("#TestsuidId").val();
                for (var i = 0; i < TSuiteName1.length; i++) {
                    if (TSuiteName == "") {
                        TSuiteName = TSuiteName1[i];
                    }
                    else {
                        TSuiteName += "," + TSuiteName1[i];
                    }
                }
                if (TSuiteName == "" || TSuiteName == null || TSuiteName == "undefined" || TSuiteName == undefined) {
                    $("#Error").html("Please Select Test Suite Name");
                    return false;
                }
                var SuiteName = $("#SName").val();

                if (SuiteName == "" || SuiteName == null || SuiteName == "undefined" || SuiteName == undefined) {
                    $("#Error").html("Please Enter Test Approach Name");
                    return false;
                }
                var inValid = /\s/;
                if ((inValid.test(SuiteName))) {

                    $("#Error").html('Test Approach Should not Contain Whitespace');
                    return false;
                }
                //var DbName = $("#ProductId").val();
                //if (DbName == "" || DbName == null || DbName == "undefined" || DbName == undefined) {
                //    $("#Error").html("Please Select Connection Name");
                //    return false;
                //}
                if ($('#Status').is(':checked')) {
                    Active = 1;
                }
                else {
                    $("#Error").html("Please Check Active Check box");
                }
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/Suites/SaveSuite", // Controller/View
                        datatype: "json",
                        data: { SName: SuiteName, testsuite: TSuiteName, Active: Active },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            var result = data;
                            if (data == "Fail") {
                                $("#Success").html("Already Test Approach  Exits")
                                return false;
                            }
                            else if (data == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                return false;
                            }
                            else {
                                $("#Success").html("Test Approach Successfully Saved");
                            }
                            // $("#ProductId").val("");
                            $("#SName").val("");
                            $("#TestsuidId").val("");
                            $("#TestsuidId").trigger("chosen:updated");
                            $('.chosen').chosen("destroy").chosen();
                            debugger; BindGrid1(1);
                        },
                        error: function (Result) {
                        }

                    });
            });

            function clear() {
                $("#ProductId").val("");
                $("#SName").val("");
                $("#TestsuidId").val("");
                $("#Status").prop("checked", true);
                $("#update").addClass("hidden");
                $("#SuiteSave").removeClass("hidden");
                $("#Error").html('');
                $("#Success").html('');
                $("#suitesave").html("");
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#suitestatus").val("1");
                $("#TestsuidId").trigger("chosen:updated");
                $('.chosen').chosen("destroy").chosen();
                var table = document.getElementById('example1');
                var cells = table.getElementsByTagName('td');
                for (var i = 0; i < cells.length; i++) {
                    var rowsNotSelected = table.getElementsByTagName('tr');
                    for (var row = 0; row < rowsNotSelected.length; row++) {
                        rowsNotSelected[row].style.backgroundColor = "";
                        rowsNotSelected[row].classList.remove('highlight');
                    }
                }

            }

            $(document).on("click", "#clear", function () {
                clear();
            });

            $(document).on("click", "#update", function () {
                debugger;
                var Active = 1;
                var TSuiteName = "";
                var TSuiteName1 = $("#TestsuidId").val();
                for (var i = 0; i < TSuiteName1.length; i++) {
                    if (TSuiteName == "") {
                        TSuiteName = TSuiteName1[i];
                    }
                    else {
                        TSuiteName += "," + TSuiteName1[i];
                    }
                }
                if (TSuiteName == "" || TSuiteName == null || TSuiteName == "undefined" || TSuiteName == undefined) {
                    $("#Error").html("Please Select Test Suite Name");
                    return false;
                }
                var SuiteName = $("#SName").val();

                if (SuiteName == "" || SuiteName == null || SuiteName == "undefined" || SuiteName == undefined) {
                    $("#Error").html("Please Enter Test Approach Name");
                    return false;
                }
                var inValid = /\s/;
                if ((inValid.test(SuiteName))) {

                    $("#Error").html('Test Approach Should not Contain Whitespace');
                    return false;
                }
                //var DbName = $("#ProductId").val();
                //if (DbName == "" || DbName == null || DbName == "undefined" || DbName == undefined) {
                //    $("#Error").html("Please Select Connection Name");
                //    return false;
                //}
                var TestapproachId = $("#suitesave1").val();
                if ($('#Status').is(':checked')) {
                    Active = 1;
                }
                else {
                    Active = 0;
                }
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/Suites/UpdateTestApproach", // Controller/View
                        datatype: "json",
                        data: { testId: TestapproachId, SName: TSuiteName, testapproachname: SuiteName, Active: Active },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            var result = data;
                            if (data == "Success") {
                                $("#Success").html("Test Approach Updated Successfully");

                            }
                            else if (data == "Validate") {

                                $("#Error").html('Please "Set As InActive" ETLDB,ETL Rules for this Test Approach');
                                return false;
                            }
                            else if (data == "Auth Fail") {

                                $("#Error").html("Authentication Failed,Your Session Failed");
                                return false;
                            }
                            else {
                                $("#Success").html("Test Approach Update Failed");
                                return false;
                            }
                            var SuiteName = $("#suitesave1").val("");

                            debugger;
                            $("#update").addClass("hidden");
                            $("#SuiteSave").removeClass("hidden");
                            $("#Status").prop("checked", true);
                            $("#SName").val("");
                            //   $("#ProductId").val("");
                            $("#TestsuidId").val("");
                            $("#TestsuidId").trigger("chosen:updated");
                            $('.chosen').chosen("destroy").chosen();

                            BindGrid1(1);
                        },
                        error: function (Result) {
                        }

                    });
            });

            BindGrid(1);
            $("#suitestatus").val("1");
        });
        $(document).ready(function () {
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }


            $(document).on("click", "#excel", function () {
                var uri = 'data:application/vnd.ms-excel;base64,'
                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                    , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                    , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

                var table = document.getElementById("example1");
                //var example1 = $('.example1');

                //var filters = $('.ng-table-filters').remove();
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML };
                //$('.ng-table-sort-header').after(filters);
                var url = uri + base64(format(template, ctx));
                var a = document.createElement('a');
                a.href = url;

                //var today = new Date();
                //var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear() + ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();

                a.download = 'TestApproach.xls';
                a.click();
            });
            var dropdown = document.getElementsByClassName("dropdown-btn1");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
            var dropdown = document.getElementsByClassName("dropdown-btn2");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
            $('#formid').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });

        });

        function display(a, approachid) {
            //    $('.chosen').chosen("destroy").chosen();
            $("#Error").html("");
            $("#Success").html("");
            $("#update").removeClass("hidden");
            $("#SuiteSave").addClass("hidden");
            var table = document.getElementById('example1');
            var cells = table.getElementsByTagName('td');
            for (var i = 0; i < cells.length; i++) {
                var rowsNotSelected = table.getElementsByTagName('tr');
                for (var row = 0; row < rowsNotSelected.length; row++) {
                    rowsNotSelected[row].style.backgroundColor = "";
                    rowsNotSelected[row].classList.remove('highlight');
                }
            }
            a.parentNode.classList.add("highlight");
            debugger;
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Suites/EditApproachvalue", // Controller/View
                    datatype: "json",
                    data: { ApproachId: approachid },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        var result = data;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        var testid = "";
                        var suitelentgth = data["0"].testSuiteId;
                        if (suitelentgth != "") {
                            testid = data["0"].testSuiteId.split(",");

                        }


                        $("#suitesave1").val(data["0"].testApproachid);
                        $("#TestsuidId").val(testid).trigger('chosen:updated');
                        $('#TestsuidId').trigger('liszt:updated');
                        $("#SName").val(data["0"].testApproachName);
                        //   $("#ProductId").val(data["0"].connectionname);
                        var status = data["0"].status;
                        if (status == "1") {
                            $("#Status").prop("checked", true);
                        }
                        else {
                            $("#Status").prop("checked", false);
                        }
                        debugger;

                    },
                    error: function (Result) {
                    }

                });
        }
        function BindGrid(Active) {
            debugger;

            if (Active == "1") {
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#suitestatus").val("1");
            }
            else {
                $("#InActive").addClass("hidden");
                $("#Active").removeClass("hidden");
                $("#suitestatus").val("0");
            }
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Suites/SuiteBidGrid", // Controller/View
                    datatype: "json",
                    data: { Active: Active, pageIndex: 1 },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        $('#tblAuthgrid').empty();
                        var tr;
                        if (data.length > 0) {


                            debugger;





                            var model = data;
                            var row = $("#tblAuthgrid tr:last-child").removeAttr("style").clone(true);
                            $("#tblAuthgrid tr").not($("#tblAuthgrid tr:first-child")).remove();
                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")' style='    cursor: pointer;'>" + data[i].testApproachid + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")' style='    cursor: pointer;'>" + data[i].testSuitename + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")'  style='    cursor: pointer;'>" + data[i].testApproachName + "</td>");
                                //tr.append("<td OnClick='display(this," + data[i].testApproachid + ")' style='    cursor: pointer;'>" + data[i].connectionname + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")'  style='    cursor: pointer;'>" + data[i].createdDate + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                                tr.append("<td> <span  OnClick='deletefun(" + data[i].testApproachid + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='http://40.115.111.12:5000/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid').append(tr);
                            }













                            $('#example1').DataTable({
                                paging: true,
                                scrollX: true,
                                lengthChange: true,
                                searching: true,
                                ordering: false
                            });
















                            //for (var i = 0; i < data.length; i++) {

                            //    tr = $('<tr/>');
                            //    tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")' style='    cursor: pointer;'>" + data[i].testSuitename + "</td>");
                            //    tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")'  style='    cursor: pointer;'>" + data[i].testApproachName + "</td>");
                            //    tr.append("<td OnClick='display(this," + data[i].testApproachid + ")' style='    cursor: pointer;'>" + data[i].connectionname + "</td>");
                            //    tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")'  style='    cursor: pointer;'>" + data[i].createdDate + "</td>");
                            //    tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                            //    $('#tblAuthgrid').append(tr);
                            //}
                        }
                        debugger;
                    },
                    error: function (Result) {
                        debugger;
                    }

                });
        }

        function BindGrid1(Active) {
            debugger;

            if (Active == "1") {
                $("#InActive").removeClass("hidden");
                $("#Active").addClass("hidden");
                $("#suitestatus").val("1");
            }
            else {
                $("#InActive").addClass("hidden");
                $("#Active").removeClass("hidden");
                $("#suitestatus").val("0");
            }
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Suites/SuiteBidGrid", // Controller/View
                    datatype: "json",
                    data: { Active: Active, pageIndex: 1 },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed,Your Session Failed");
                            return false;
                        }
                        $('#tblAuthgrid').empty();
                        var tr;
                        if (data.length > 0) {
                            var model = data;
                            var row = $("#tblAuthgrid tr:last-child").removeAttr("style").clone(true);
                            $("#tblAuthgrid tr").not($("#tblAuthgrid tr:first-child")).remove();
                            for (var i = 0; i < data.length; i++) {

                                tr = $('<tr/>');
                                tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")' style='    cursor: pointer;'>" + data[i].testApproachid + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")' style='    cursor: pointer;'>" + data[i].testSuitename + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")'  style='    cursor: pointer;'>" + data[i].testApproachName + "</td>");
                                //  tr.append("<td OnClick='display(this," + data[i].testApproachid + ")' style='    cursor: pointer;'>" + data[i].connectionname + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")'  style='    cursor: pointer;'>" + data[i].createdDate + "</td>");
                                tr.append("<td  OnClick='display(this," + data[i].testApproachid + ")'  style='    cursor: pointer;'>" + data[i].status + "</td>");
                                tr.append("<td> <span  OnClick='deletefun(" + data[i].testApproachid + ");'  style='cursor: pointer;'>  " + (data[i].status == "Inactive" ? "<img src='http://40.115.111.12:5000/Image/delete-trash-icon-256.png' style='height:25px' />" : "") + " </span></td>");
                                $('#tblAuthgrid').append(tr);
                            }
                        }
                        debugger;
                    },
                    error: function (Result) {
                        debugger;
                    }

                });
        }

        function deletefun(testapid) {
            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/Suites/deleteapproach", // Controller/View
                    datatype: "json",
                    data: { testApproachid: testapid },
                    headers: {
                        "Content-Type": JSON,
                        'Authorization': localStorage.getItem("AuthoToken"),
                    },
                    success: function (data) {
                        debugger;
                        if (data == "Auth Fail") {
                            $("#Error").html("Authentication Failed");
                            return false;
                        }

                        BindGrid1(1);
                    },
                    error: function (Result) {

                    }

                });
        }
        $(document).ready(function () {

        });
        $(document).ready(function () {
            debugger;
            $("#TestsuidId").trigger("chosen:updated");

            $('.chosen').chosen("destroy").chosen();
            //    $(".chosen").chosen();

        });

    </script>
    <div>



        <h3 style="        color: #ba9122; padding: 14px; margin-left: 42px;">Test Approach</h3>
        <div class="container" style=" background-color: white;  padding-bottom: unset;">
            <div class=" container-scroller">

                <div class="container-fluid page-body-wrapper">

                    <div class="main-panel">
                        <div class="content-wrapper" style="padding: 1.5rem .8rem .5rem 2rem;">
                            <form method="post" id="formid" enctype="multipart/form-data">
                                <div class="form">
                                    <div class="row" style="padding-bottom: 20px;">
                                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                            <label><span style="color: red;">* </span>Test Suite</label><br />

                                            <select asp-for="TestsuidId"
                                                    class="form-control chosen chosen-select"
                                                    asp-items="@(new SelectList(Model.TestSuiteList,"Value", "Text"))" multiple="true">
                                            </select>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                            <label><span style="color: red;">* </span>Test Approach</label><br />
                                            <input type="text" id="SName" name="Name" maxlength="50" class="txt-input form-control" />
                                        </div>
                                        @*<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3" style="text-align: left;">
                                                <label><span style="color: red;">* </span>Connections</label><br />

                                                <select asp-for="ProductId"
                                                        class="form-control"
                                                        asp-items="@(new SelectList(Model.Listofproducts,"Value", "Text"))">
                                                </select>
                                            </div>*@

                                    </div>

                                </div>
                            </form>
                        </div>


                    </div>
                </div>


            </div>
        </div>
        <div class="container" style="        background-color: #eeeeee;
        padding: 10px;
        padding-bottom: unset;
        margin-top: 15px">
            <div class="row" style="        padding: 10px
">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="text-align:left">
                    <input type="checkbox" id="Status"> Set As active
                    <div class="col-lg-12 col-md-12">
                        <label style="text-align:center;color:red" id="Error"></label>
                        <label style="text-align:center;color:green" id="Success"></label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="text-align:right">
                    <input type="button" class="text-center center-block" style="        color: white;background-color: #c9a642" id="SuiteSave" value="SAVE">
                    <input type="button" class="text-center center-block hidden" style="       color: white;background-color: #c9a642" id="update" value="Update">
                    <input type="button" class="text-center center-block clear" style="   color: black;" id="clear" value="Clear">
                    <input type="hidden" id="suitesave1" />
                    <input type="hidden" id="suitestatus" />
                </div>

            </div>
        </div>
        <div class="container" style="        background-color: white;

        padding-bottom: unset;
        margin-top: 15px">

            <div class="container" style="     background-color: white;    padding: 44px; padding-top: 15px; padding-bottom: 100px;">
                <div class="content">
                    <div class=" container-scroller">



                        <div class="form-group" id="Excelpos">


                            <button type="button" class="btn  btn-sm" id="excel">
                                <img src="~/ExportExcel.png"
                                     style="cursor: pointer;" />
                            </button>
                        </div>
                        <div class="row" style="        margin-top: 10px">
                            <div class="col-sm-12 mat-elevation-z8"
                                 style="box-shadow: unset;padding: 0px ;" #TABLE>
                                <table style="width: 100%;" class="paginated" border="1" id="example1">
                                    <thead>
                                        <tr>
                                            <td>
                                                TA Id
                                            </td>
                                            <td>
                                                Test Suite
                                            </td>
                                            <td>
                                                Test Approach
                                            </td>
                                            @*<td>
                                                    Connections
                                                </td>*@
                                        <td>
                                            Creation Date
                                        </td>
                                            <td>
                                                Status
                                            </td>
                                            <td>Delete</td>
                                        </tr>
                                    </thead>
                                    <tbody id="tblAuthgrid">
                                    </tbody>
                                </table>
                                <br />
                                <div class="Pager"></div>
                            </div>

                        </div>
                    </div>
                    <!-- partial:../../partials/_footer.html -->

                </div>


            </div>

        </div>
        <!-- partial:../../partials/_footer.html -->

    </div>
    </div>
    </div>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    </div>
</body>
</html>
