@model ProductViewModel;
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */

        $(document).ready(function ($) {
            var screens = sessionStorage.getItem("Screen");
            if (screens == null || screens == "" || screens == undefined) {
                window.location.href = "/Home/Index";
            }
            var RoleName = sessionStorage.getItem("RoleName");
            var Screensplit = screens.split("|");
            for (var i = 0; i < Screensplit.length; i++) {
                var val = Screensplit[i];
                var show = val.split(",");
                var val2 = show["0"];
                var val1 = show["1"];
                switch (val2) {
                    case "Connection":
                        if (val1 == "Show") {
                            $("#Menuconnection").removeClass("hidden");
                        }
                        else {
                            $("#Menuconnection").addClass("hidden");
                        }
                        break;
                    case "Suite":
                        if (val1 == "Show") {
                            $("#MenuSuites").removeClass("hidden");
                        }
                        else {
                            $("#MenuSuites").addClass("hidden");
                        }
                        break;
                    case "Approach":
                        if (val1 == "Show") {
                            $("#MenuTestApproach").removeClass("hidden");
                        }
                        else {
                            $("#MenuTestApproach").addClass("hidden");
                        }
                        break;
                    case "Testcases":
                        if (val1 == "Show") {
                            $("#MenuTestcases").removeClass("hidden");
                        }
                        else {
                            $("#MenuTestcases").addClass("hidden");
                        }
                        break;
                    case "etldb":
                        if (val1 == "Show") {
                            $("#MenuEtlrules").removeClass("hidden");
                        }
                        else {
                            $("#MenuEtlrules").addClass("hidden");
                        }
                        break;
                    case "Release":
                        if (val1 == "Show") {
                            $("#MenuRelease").removeClass("hidden");
                        }
                        else {
                            $("#MenuRelease").addClass("hidden");
                        }
                        break;
                    case "Executions":
                        if (val1 == "Show") {
                            $("#MenuExecution").removeClass("hidden");
                        }
                        else {
                            $("#MenuExecution").addClass("hidden");
                        }
                        break;
                    case "TestReport":
                        if (val1 == "Show") {
                            $("#MenuTestReport").removeClass("hidden");
                        }
                        else {
                            $("#MenuTestReport").addClass("hidden");
                        }
                        break;
                    case "Analytics":
                        if (val1 == "Show") {
                            $("#MenuAnaltics").removeClass("hidden");
                        }
                        else {
                            $("#MenuAnaltics").addClass("hidden");
                        }
                        break;
                    case "Usermanage":
                        if (val1 == "Show") {
                            $("#MenuUserMangment").removeClass("hidden");
                        }
                        else {
                            $("#MenuUserMangment").addClass("hidden");
                        }
                        break;
                }

            }
            debugger;
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
           var dropdown = document.getElementsByClassName("dropdown-btn1");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
        $(document).on("change", "#selectrule", function () {
                $("#Error").html("");
            });
            $(document).on("change", "#TestsuidId", function () {
                
                $("#Error").html("");
            });
            $(document).on("change", "#ReleaseId", function () {
                $("#Error").html("");
            });
            $(document).on("change", "#tagid", function () {
                $("#Error").html("");
            });
            $(document).on("click", "#Trigger", function () {
                $("#Trigger").attr("disabled", true);
                debugger;
                var name = "";
                var approach1 = "";
                var connection1 = "";
                var SuiteName = $("#Multisuite").val();
                for (var i = 0; i < SuiteName.length; i++) {
                    if (name == "") {
                        name = SuiteName[i];
                    }
                    else {
                        name += "," + SuiteName[i];
                    }
                }
                if (SuiteName == null || SuiteName == "") {
                    $("#Error").html("Please Select Suite Name");
         $("#Trigger").attr("disabled", false);
                    return false;
                }
                var approach = $('#selectrule').val();
                for (var i = 0; i < approach.length; i++) {
                    if (approach1 == "") {
                        approach1 = approach[i];
                    }
                    else {
                        approach1 += "," + approach[i];
                    }
                }
                if (approach == null || approach == "") {
                    $("#Trigger").attr("disabled", false);
                    $("#Error").html("Please Select Test Approach");
                    return false;
                }
                var connection1 = $('#TestsuidId').val();
                //for (var i = 0; i < connection.length; i++) {
                //    if (connection1 == "") {
                //        connection1 = connection[i];
                //    }
                //    else {
                //        connection1 += "," + connection[i];
                //    }
                //}
                if (connection1 == null || connection1 == "") {
                    $("#Error").html("Please Select Connections");
                    $("#Trigger").attr("disabled", false);
                    return false;
                }
                var releaseno = $('#ReleaseId').val();
                if (releaseno == null || releaseno == "") {
                    $("#Trigger").attr("disabled", false);

                    $("#Error").html("Please Select Release No");
                    return false;
                }
                var tag = $("#tagid").val();
                if (tag == null || tag == "") {
                    $("#Trigger").attr("disabled", false);
                    $("#Error").html("Please Enter Tag");
                    return false;
                }
                var inValid = /\s/;
                if ((inValid.test(tag))) {
                    $("#Trigger").attr("disabled", false);
                    $("#Error").html('Tag should not contain whitespaces');
                    return false;
                }
               
               
                
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/Execution/Trigger", // Controller/View
                        datatype: "json",
                        data: {
                            SuiteId: name,
                            tagno: tag,
                            approachname: approach1,
                            dbconnection: connection1,
                            releaseno: releaseno,
                        },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            if (data == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                $("#Trigger").attr("disabled", false);
                                return false;
                            }
                            else
                                if (data.includes("Rules")) {
                                    $("#Error").html(data);
                                    $("#Trigger").attr("disabled", false);
                                    return false;

                                }
                                else if (data.includes("Testcase")) {
                                    $("#Error").html(data);
                                    $("#Trigger").attr("disabled", false);
                                    return false;
                                }
                            debugger;
                            $("#Multisuite").val('').trigger('liszt:updated');;
                            $('#TestsuidId').val('').trigger('liszt:updated');;
                            $('#ReleaseId').val('');
                            $('#selectrule').empty();;
                            $('#tagid').val('');
                            $("#Trigger").attr("disabled", false);

                            $("#selectrule").trigger("chosen:updated");
                            $('.chosen').chosen("destroy").chosen();
                            setTimeout(function () {
                                clearChosen()
                            }, 200);
                            var statsus = "Passed  " + data["0"].passed + ",Failed  " + data["0"].failed + ",Total Tests " + data["0"].total_test;
                           // var tes = "~/" + SuiteName + "/" + SuiteName + "" + Version + ".html";
                            $("progress").hide();
                            alert("Test Cases Execute Successfully");
                            $("#Success").html(statsus);
                        },
                        xhr: function () {
                            var fileXhr = $.ajaxSettings.xhr();
                            if (fileXhr.upload) {
                                $("progress").show();
                                fileXhr.upload.addEventListener("progress", function (e) {
                                    if (e.lengthComputable) {
                                        $("#fileProgress").attr({
                                            value: e.loaded,
                                            max: e.total
                                        });
                                    }
                                }, false);
                            }
                            return fileXhr;
                        },
                        error: function (Result) {
                            $("#Trigger").attr("disabled", false);
                           debugger;
                        }

                    });

            });

            var option;
            option = $('<option/>');
            option.append("<option value=''>Select Test Approach</option>");
            var option1;
            option1 = $('<option/>');
            option1.append("<option value=''>Select  Test Approach</option>");

          //  $('#RulesId').append(option1);
           // $('#selectrule').append(option);
            var a = new Array();
            $("#selectrule").children("option").each(function (x) {
                test = false;
                b = a[x] = $(this).val();
                for (i = 0; i < a.length - 1; i++) {
                    if (b == a[i]) test = true;
                }
                if (test) $(this).remove();
            });
            $(document).on("change", "#Multisuite", function (event, params ) {
                $("#Error").html("");
                debugger;
                var select = "";
                var name = "";
                if (params != undefined) {
                    select = params.selected;
                    if (select == undefined) {
                        name = params.deselected;
                    }
                    else {
                        name = params.selected;
                    }
                }
                else {
                    name = $(this).val();
                }
             
              
                $.ajax(
                    {
                        type: "GET", //HTTP POST Method
                        url: "/Execution/testapproach", // Controller/View
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: {
                            SuiteId: name,
                        },
                        headers: {
                            "Content-Type": JSON,
                            'Authorization': localStorage.getItem("AuthoToken"),
                        },
                        success: function (data) {
                            debugger;
                            if (data == "Auth Fail") {
                                $("#Error").html("Authentication Failed,Your Session Failed");
                                return false;
                            }
                            var option;
                          
                            for (var i = 0; i < data.length; i++) {
                                var values = "";

                                $("#selectrule option").each(function () {
                                    debugger;
                                    var value = $(this).val();
                                    if (value == data[i].testApproachName) {
                                        values = data[i].testApproachName;
                                    }
                                    // Add $(this).val() to your list
                                });
                                if (values == "") {
                                    $('#selectrule').append("<option value=" + data[i].testApproachName + ">" + data[i].testApproachName + "</option>");
                                }
                                debugger;
                                var deselect = params.deselected;
                               
                                    if (params.deselected != undefined) {
                                        $("option[value=" + data[i].testApproachName + "]").remove();
                                    }
                                
                            }
                            $("#selectrule").trigger("chosen:updated");
                            $('.chosen').chosen("destroy").chosen();
                            var a = new Array();
                            $("#selectrule").children("option").each(function (x) {
                                test = false;
                                b = a[x] = $(this).val();
                                for (i = 0; i < a.length - 1; i++) {
                                    if (b == a[i]) test = true;
                                }
                                if (test) $(this).remove();
                            });
                        },
                        error: function (Result) {
                            swal("Error!", "Error.", "error");
                        }

                    });
            });



        });
        function clearChosen() {
            debugger;
            $('select#Multisuite').trigger('chosen:updated');
            $('select#TestsuidId').trigger('chosen:updated');
        }
     


    </script>
    <div>

                <h3 style="        color: #ba9122; padding: 14px; margin-left: 42px;">Execution</h3>
                <div class="container" style=" background-color: white;  padding: 10px; padding-bottom: 100px;">
                    <div class="content">
                        <div class=" container-scroller">

                            <div class="row">
                                <div class=" col-lg-3">
                                    <label><span style="color: red;">*</span>Test Suite</label><br />
                                    <select asp-for="Multisuite"
                                            class="form-control chosen"
                                            asp-items="@(new SelectList(Model.Listofproducts,"Value", "Text"))" multiple="true">
                                    </select>

                                </div>
                                <div class=" col-lg-3">
                                    <label><span style="color: red;">*</span>Test Approach</label><br />
                                    <select class="form-control chosen" name="Rules" id="selectrule" multiple="true">
                                    </select>

                                </div>
                                <div class=" col-lg-3">
                                    <label><span style="color: red;">*</span>Connections</label><br />

                                    <select asp-for="TestsuidId"
                                            class="form-control "
                                            asp-items="@(new SelectList(Model.TestSuiteList,"Value", "Text"))">
                                    </select>

                                </div>
                                <div class="col-lg-3">
                                    <label><span style="color: red;">*</span>Release No</label><br />
                                    <select asp-for="ReleaseId"
                                            class="form-control"
                                            asp-items="@(new SelectList(Model.ReleaseList,"Value", "Text"))">
                                    </select>
                                </div>
                                <div class=" col-lg-3" style="padding-top:20px">
                                    <label><span style="color: red;">*</span>Tag</label><br />
                                    <input type="text" name="tag" id="tagid" class="form-control" />
                                </div>
                                <div class="col-md-12" style="margin-top:25px;right:0px;text-align:right">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <label style="text-align:center;color:red" id="Error"></label>
                                        <label style="text-align:center;color:green" id="Success"></label>
                                    </div>
                                    <progress id="fileProgress" style="display: none"></progress>

                                    <input type="button" class="text-center center-block" style="margin-top:20px;        color: white;background-color: #c9a642" id="Trigger" value="Execute">

                                </div>
                              
                                @*<div class="row">
            <div class="col-lg-12 col-md-12">
                <a href="~/report.html">open</a>
            </div>
        </div>*@
                            </div>

                            @*<div class="row" style="margin-top:25px">
                        <div class="col-sm-12 mat-elevation-z8"
                             style="box-shadow: unset;padding: 0px ;" #TABLE>
                            <table style="width: 100%;" border="1">
                                <thead style=" background-color: gray; color: white;">
                                    <tr>


                                        <td>
                                            Report
                                        </td>
                                        <td>
                                            Status
                                        </td>
                                    </tr>
                                </thead>
                                <tbody id="tblAuthgrid"></tbody>

                            </table>

                        </div>

                    </div>*@
                        </div>
                        <!-- partial:../../partials/_footer.html -->

                    </div>

                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
        <!-- Bootstrap core JavaScript -->
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
            $(document).ready(function () {
                debugger;
                //$('.chosen').chosen("destroy").chosen();
                $(".chosen").chosen();
                //jQuery(".chosen").chosen();

            });
        </script>
    </div>
</body>
</html>
